extends ../base.pug

block content
  h1 nginx > Stop

  div.sites
    if error
      h2 An error has occurred
      div
        | #{error}
    else
      h2 nginx service stopped
      div
        strong output:
        pre
          #{output}
